<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rajiv.gameof15">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launchhhh"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

        <activity android:name=".Homesplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".top_scorers"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".congrats"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".home"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".level_select"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".splash"
            android:theme="@style/AppTheme.mine" />
        <activity
            android:name=".instruct"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".soundsetting"></activity>
    </application>

</manifest>